<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogg.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <style></style>
  </head>
  <body>
    <!-- || Navbar -->
    <section id="first-page">
      <div id="nav">
        <div id="logo">
          <img src="/images/logo.svg" alt="Blogg." />
        </div>
        <div id="navbar">
          <div id="home"><a href="/">home</a></div>
          <div id="about"><a href="/about">about</a></div>
          <div id="post"><a href="/post">post</a></div>
        </div>
      </div>

      <div id="main">
        <h1 class="hero">Blogg.</h1>
      </div>
    </section>

    <!-- || Animation section -->
    <section id="second-page">
      <h2>journals</h2>
    </section>

    <!-- || View section -->
    <section id="third-page">
      <div class="third-page-container">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1599709343744-195fe3f82dbc?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
          <div class="card-content">
            <h2>Title</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
              adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa
              asperiores harum? Dicta odio aut hic.
            </p>
            <a href="/post" class="button">
              Post your ideas
              <span class="material-symbols-outlined"> arrow_right_alt </span>
            </a>
          </div>
        </div>

        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1516900557549-41557d405adf?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
          <div class="card-content">
            <h2>Title</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
              adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa
              asperiores harum? Dicta odio aut hic.
            </p>
            <a href="/post" class="button">
                Post your ideas
              <span class="material-symbols-outlined"> arrow_right_alt </span>
            </a>
          </div>
        </div>

        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1614281325348-7423b62aeb7d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
          <div class="card-content">
            <h2>Title</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              exercitationem iste, voluptatum, quia explicabo laboriosam rem
              adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa
              asperiores harum? Dicta odio aut hic.
            </p>
            <a href="/post" class="button">
                Post your ideas
              <span class="material-symbols-outlined"> arrow_right_alt </span>
            </a>
          </div>
        </div>

        <!-- <div class = "card">
            <img src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="">
            <div class="card-content">
              <h2>
                Card Heading
              </h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.
              </p>
              <a href="#" class="button">
                Find out more 
                <span class="material-symbols-outlined">
                  arrow_right_alt
                </span>
              </a>
            </div>
          </div> -->
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/script.js"></script>
</body>
</html>
