<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogg.</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style></style>
  </head>
  <body>
    <!-- || Navbar -->
    <section id="first-page">
      <div id="nav">
        <div id="logo">
          <img src="/images/logo.svg" alt="Blogg." />
        </div>
        <div id="navbar">
          <div id="home"><a href="/">home</a></div>
          <div id="about"><a href="/about">about</a></div>
          <div id="post"><a href="/post">post</a></div>
        </div>
      </div>

      <div id="main">
        <h1 class="hero">Blogg.</h1>
      </div>
    </section>

    <!-- || View section -->
    <section id="second-page">
      <div class="card">
        <div class="card-title"></div>
        <div class="card-body"></div>
        <div class="card-author">
          <div class="card-edit">
            <!-- author  -->
            <a href="/edit">
              <!-- svg -->
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-title"></div>
        <div class="card-body"></div>
        <div class="card-author">
          <div class="card-edit">
            <!-- author  -->
            <a href="/edit">
              <!-- svg -->
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-title"></div>
        <div class="card-body"></div>
        <div class="card-author">
          <div class="card-edit">
            <!-- author  -->
            <a href="/edit"> <!-- svg -->edit </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
