<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogg.</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
<section class="edit-page">
    <div id="form-container">
        <form action="/post" method="post">
            <input type="text" name="title" placeholder="TITLE">
            <input type="text" name="body" placeholder="BODY">
            <input type="text" name="author" placeholder="NAME">
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</section>
    
</body>
</html>