<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogg.</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <section class="post-page">
      <div id="nav">
        <div id="logo">
          <img src="/images/logo.svg" alt="Blogg." />
        </div>
        <div id="navbar">
          <div id="home"><a href="/">home</a></div>
          <div id="about"><a href="/about">about</a></div>
          <div id="post"><a href="/post">post</a></div>
        </div>
      </div>

      <div id="form-container">
        <form action="/post" method="post">
          <input
            type="text"
            name="author"
            placeholder="NAME"
            class="form-title"
            required
          />
          <input
            type="text"
            name="title"
            placeholder="TITLE"
            class="form-title"
            required
          />
          <input
            type="text"
            name="body"
            placeholder="BODY"
            class="form-body"
            required
            style="padding: 5rem 1rem"
          />
          <input type="submit" value="SUBMIT" />
        </form>
      </div>
    </section>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    defer
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
   defer ></script>
  <script src="/scripts/script.js" defer></script>
  </body>
</html>
