<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogg.</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <section class="post-page">
      <div id="nav">
        <div id="logo">
          <img src="/images/logo.svg" alt="Blogg." />
        </div>
        <div id="navbar">
          <div id="home"><a href="/">home</a></div>
          <div id="about"><a href="/about">about</a></div>
          <div id="post"><a href="/post">post</a></div>
        </div>
      </div>

      <div id="form-container">
        <form action="/post" method="post">
          <input
            type="text"
            name="author"
            placeholder="NAME"
            class="form-title"
            required
          />
          <input
            type="text"
            name="title"
            placeholder="TITLE"
            class="form-title"
            required
          />
          <input
            type="text"
            name="body"
            placeholder="BODY"
            class="form-body"
            required
            style="padding: 5rem 1rem"
          />
          <input type="submit" value="SUBMIT" />
        </form>
      </div>
    </section>
  </body>
</html>
