@font-face {
  font-family: mentra;
  src: url(/fonts/MENTRA.otf);
}
@font-face {
  font-family: beckan;
  src: url(/fonts/Beckan.otf);
}
@font-face {
  font-family: gill sans;
  src: url(/fonts/GillSans.otf);
}
@font-face {
  font-family: gill roy;
  src: url(/fonts/Gilroy-Black.ttf);
}
@font-face {
  font-family: heavitas;
  src: url(/fonts/Heavitas.ttf);
}
@font-face {
  font-family: pearce;
  src: url(/fonts/Pearce.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #e6ff94;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
  }
  

/* || Navbar */

#logo img {
    display: none;
  height: 150px;
}

#nav {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 70%;
  /* position: fixed; */
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

#navbar a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

#navbar #post a {
  color: #e6ff94;
  padding: 0.5rem;
  border: 2px solid #fff;
  font-weight: bold;
  font-family: gill roy;
}

#home a:hover , #about a:hover {
  color: #e6ff94;
  transition: 0.5s;
}

#navbar #post a:hover {
  background-color: #e6ff94;
  color: #002379;
  transition: 0.5s;
  
}

.edit-btn a:hover{
  background-color: #e6ff94;
  color: #002379;
  transition: 0.5s;

}

/* || first page  */

#first-page {
    height: 100%;
    /* min-height: -webkit-fill-available; */
  width: 100%;
  background-color: #002379;
}

#main h1 {
  font-size: 10rem;
  font-family: mentra;
  color: #e6ff94;
  text-align: center;
  margin-top: 20vh;
}



/* || Second Page */

#second-page {
  height: 100vh;
  width: 100%;
  /* background-color: #FF5F00; */
  background-color: #e6ff94;
  /* padding: 5vw 0; */
  
}

#second-page h2 {
  font-size: 30vw;
  font-weight: 600;
  text-transform: uppercase;
  color: #002379;
}

/* || third Page */

.third-page {
  height: 100%;
  width: 100%;
  color: #e6ff94;
  background-color: #002379;
}

.third-page-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: center;
  height: 100%;
  padding: 0 5rem;
}

.view-title h2{
  font-size: 8rem;
  font-weight: bold;
  font-family: pearce;
}

.view-body h3{
  font-size: 2rem;
  font-weight: lighter;
  text-align: justify;
}

.user-control{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  gap: 2rem;
  font-size: .8rem;
  text-transform: uppercase;
}

.edit-btn a {
  color: #e6ff94;
  padding: 0.5rem 3.5rem;
  margin-right: 5px;
  border: 2px solid #fff;
  font-weight: bold;
  font-family: gill roy;
  text-decoration: none;
}

.view-author-name{
  color: #fff;
}




/* || Post-page */

.post-page{
  height: 100%;
  width: 100%;
  background-color: #002379;
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

form {
  /* background-color: #e6ff94; */
  /* padding: 5rem;  */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 50%;
}

input[type="text"], input[type="submit"] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 20px; /* Increase margin to increase height */
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #FFFAE6;
  font-size: .8rem;
}

input[type="submit"] {
  width: 100%;
  background-color: #e6ff94;
  color: #002379;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #f0ffc1;
  /* color: #fff; */
}

input[type="text"]:hover {
  background-color: #fcfaf2;
}

/* || About page  */

.about-page{
  height: 100%;
  width: 100%;
  background-color: #002379;
}

#about-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.about-con{
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

#about-text{
  margin-left: 3rem;
}

#about-text h1{
  font-size: 3rem;
  color: #e6ff94;
  text-transform: uppercase;
  font-family: pearce;
}

#about-icons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 1rem;
}

#about-icons svg{
  height: 2rem;
  fill: #e6ff94;
}

#about-icons svg:hover{
  fill: #fff;
  transition: 0.5s;
}



@media (max-width:500px) {
  #main h1 {
    font-size: 4rem; 
     /* margin-top: 30vh; */
  }

  #nav {
    gap: 40%;
  }
  
  .edit-btn  {
    text-wrap: nowrap;
  }

  .view-title h2{
    font-size: 3rem;
  }
  
  .view-body h3{
    font-size: 1.2rem;
  }
}


/* 
#second-page {
  height: 100vh;
  width: 100%;
  /* background-color: #FF5F00; */
  /* background-color: #e6ff94;
  padding: 5vw 0;
  
}

#second-page h2 {
  font-size: 40vw;
  font-weight: 600;
  text-transform: uppercase;
  color: #002379;
} */ 
